.text-success {
    color: #28a745 !important;
  }
  
  .text-warning {
    color: #ffc107 !important;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  
  .text-secondary {
    color: #6c757d !important;
  }
  