<div id="tagtable-container">
  <clr-input-container>
    <label>Search</label>
    <input clrInput
      type="text"
      placeholder="Search by TagName..."
      [(ngModel)]="filterString"
      (input)="filterTags()"
      class="form-control mb-3"
    />
  </clr-input-container>

  <clr-datagrid id="tagtable">
    <clr-dg-column *ngIf="!isDetailedLayout()">
      <input type="checkbox" clrCheckbox (click)="toggleAllSelection()" [checked]="allSelected" />
    </clr-dg-column>
    <clr-dg-column>Tag name</clr-dg-column>
    <clr-dg-column *ngIf="isDetailedLayout()">Value</clr-dg-column>
    <clr-dg-column>Data type</clr-dg-column>
    <clr-dg-column *ngIf="isDetailedLayout()">Status</clr-dg-column>
    <clr-dg-column *ngIf="isDetailedLayout()"> </clr-dg-column>

    <clr-dg-row *ngFor="let tag of filteredTags">
      <clr-dg-cell *ngIf="!isDetailedLayout()">
        <input type="checkbox" clrCheckbox [(ngModel)]="selectedTags[getTagName(tag)]" />
      </clr-dg-cell>
      <clr-dg-cell>{{ getTagName(tag)}}</clr-dg-cell>
      <clr-dg-cell *ngIf="isDetailedLayout()" [ngClass]="{'blink-green': isTagChanged(tag)}">{{ getTagValue(tag) }}</clr-dg-cell>
      <clr-dg-cell>{{ getTagDataType(tag) }}</clr-dg-cell>
      <clr-dg-cell *ngIf="isDetailedLayout()">{{ getStatusCodeDescription(getTagStatus(tag)) }}</clr-dg-cell>
      <clr-dg-cell *ngIf="isDetailedLayout()"><i [class]="getStatusCodeIconClass(getTagStatus(tag))"></i></clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>

