<div id="tagtable-container">
  <!-- Search input field -->
  <clr-input-container>
    <label>Search</label>
  <input clrInput
    type="text"
    placeholder="Search by TagName..."
    [(ngModel)]="filterString"
    (input)="filterTags()"
    class="form-control mb-3"
  />
  </clr-input-container>

  <table id="tagtable" class="table table-striped">
    <thead>
      <tr>
        <th>TagName</th>
        <th>Value</th>
        <th>DataType</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through filteredTags instead of tags -->
      <tr *ngFor="let tag of filteredTags">
        <td>{{ getTagName(tag) }}</td>
        <td>{{ getTagValue(tag) }}</td>
        <td>{{ getTagDataType(tag) }}</td>
        <td>{{ getStatusCodeDescription(getTagStatus(tag)) }}</td>
        <td><i [class]="getStatusCodeIconClass(getTagStatus(tag))"></i></td>
      </tr>
    </tbody>
  </table>
</div>