.login-wrapper {
    background: url(../../../../assets/background2.jpg);
    background-size: 100%;
    background-position: 21rem 0rem;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}